.app{
  height:100%;
  background-color: black;
  color:pink;
  padding: 1%;
}

.tweet{
  padding:10px;
  width:400px;
  margin-top: 10px;;
  border:2px solid lightgray;
}

.blue{
  color:blue;
}

.red{
  color: red;
}

nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
  min-height: 10vh;
  background:rgb(113, 27, 194);
  color:white;
}

.nav-links {
  width:40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
